{% extends 'template.html' %}

{% block title %}
    <title>Secure-PI   |    Dashboard</title>
{% endblock %}
{% block script_or_link %}
<script src="{{url_for('static', filename='js/jquery/dist/jquery.min.js')}}"></script>
{% endblock %}

{% block body_content %}
    {{ test }}<br>
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>{{ data[0] }}</h3>

          <p>Total</p>
        </div>
        <div class="icon">
          <i class="ion ion-person"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3>{{ data[1] }}</h3>

          <p>Today</p>
        </div>
        <div class="icon">
          <i class="ion ion-person"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>{{ data[2] }}</h3>

          <p>Last 7 days</p>
        </div>
        <div class="icon">
          <i class="ion ion-person"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3>{{ data[3] }}</h3>

          <p>Last 30 days</p>
        </div>
        <div class="icon">
          <i class="ion ion-person"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
  </div>
{% endblock %}

<script>
    $(document).ready(function(){
     $('#dashboard').addClass('active');
    });
</script>