{% extends 'template.html' %}

{% block title %}
    <title>Secure-PI   |    Control Room</title>
{% endblock %}

{% block body_content %}

    <div class="row">
        <div class="col-md-12">

<!--             <div class="embed-responsive embed-responsive-16by9">
                <img class="embed-responsive-item" src="{{ url_for('video_feed') }}"></iframe>
            </div> -->
                <img class="embed-responsive-item" width="1000" src="{{ url_for('video_feed') }}"></iframe>
            <div class="box">
                <div class="box-content">

                </div>
            </div>

        </div>
    </div>


{% endblock %}