{{ JSGlue.include() }}

{% extends 'template.html' %}


{% block title %}
    <title>Secure-PI   |    Records</title>
{% endblock %}

{% block script_or_link %}
    <!-- jQuery 3 -->
<script src="{{url_for('static', filename='js/jquery/dist/jquery.min.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/lightbox.min.css')}}" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script src="{{url_for('static', filename='js/lightbox.min.js')}}"></script>
{% endblock %}

<style type="text/css">
#scroller a img:hover{
  transform: scale(1.1);
}
</style>


{% block body_content %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">

      <div class="row">
        <div class="container-fluid">
                <div class="col-md-12 center-block" style="padding-bottom: 2rem">
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                      <input type="text" class="form-control pull-right" id="daterange" name="daterange" value="" placeholder="search by date-range"/>
                    </div>
                </div>
        <!-- div to contain the content -->
        <div id="scroller">
          <!-- template schema, hidden from the dom -->
            <template id="post_template">
              <div class="col-md-4">
                  <div class="box box-widget" id="scroller">
			            <div class="box-header">
			              <div class="user-block">
			                <h4 class="card-title" id="title"></h4>
			              </div>
			              <!-- /.user-block -->
			            </div>
                    <div>
                      <a id="content1" data-lightbox="records">
                        <img class="img-responsive pad" id="content2"/>
                      </a>
                    </div>
                  </div>
              </div>
            </template>

        </div>
        <!-- element to trigger the IntersectionObserver -->
        </div>
        <div class="d-flex" id="sentinel">
          <div class="spinner-border" role="status"><i class="fa fa-refresh fa-spin"></i></div>
        </div>
      </div>



<script>
    // Get references to the dom elements
var scroller = document.querySelector("#scroller");
var template = document.querySelector('#post_template');
var sentinel = document.querySelector('#sentinel');

// Set a counter to count the items loaded
var counter = 0;

function findGetParameter(parameterName) {
    var result = null,
        tmp = [];
    location.search
        .substr(1)
        .split("&")
        .forEach(function (item) {
          tmp = item.split("=");
          if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
        });
    return result;
}

// Function to request new items and render to the dom
function loadItems() {

  // Use fetch to request data and pass the counter value in the QS
  fetch(`/load?c=${counter}&start_date=${findGetParameter("start_date")}&last_date=${findGetParameter("last_date")}`).then((response) => {

    // Convert the response data to JSON
    response.json().then((data) => {

      // If empty JSON, exit the function
      if (!data.length) {

        // Replace the spinner with "No more records"
        sentinel.innerHTML = "No more records";
        return;
      }

      // Iterate over the items in the response
      for (var i = 0; i < data.length; i++) {

        // Clone the HTML template
        let template_clone = template.content.cloneNode(true);

        // Query & update the template content
        // template_clone.querySelector("#title").innerHTML = `${data[i].id}: ${data[i].created_at}, ${data[i].file_type}`;
        template_clone.querySelector("#title").innerHTML = "Picture taken: " + data[i].path_filename.replace(".jpg", "");
        template_clone.querySelector("#content1").href = Flask.url_for("static", {"filename": "records/" + data[i].path_filename }) 
        template_clone.querySelector("#content2").src = Flask.url_for("static", {"filename": "records/" + data[i].path_filename }) 
        // Append template to dom
        scroller.appendChild(template_clone);

        // Increment the counter
        counter += 1;


      }
    })
  })
}

// Create a new IntersectionObserver instance
var intersectionObserver = new IntersectionObserver(entries => {

  // Uncomment below to see the entry.intersectionRatio when
  // the sentinel comes into view

  // entries.forEach(entry => {
  //   console.log(entry.intersectionRatio);
  // })

  // If intersectionRatio is 0, the sentinel is out of view
  // and we don't need to do anything. Exit the function
  if (entries[0].intersectionRatio <= 0) {
    return;
  }

  // Call the loadItems function
  loadItems();

});

// Instruct the IntersectionObserver to watch the sentinel
intersectionObserver.observe(sentinel);
</script>

<script>
console.log(document.getElementById('daterange').value)
$(function() {
  $('input[name="daterange"]').daterangepicker({
  autoUpdateInput: false,
  }, function(start, end) {
      window.location.search = 'start_date=' + encodeURIComponent(start.format("YYYY-MM-DD")) + "&last_date=" + encodeURIComponent(end.format("YYYY-MM-DD"));
  });
});
</script>

<script>
    lightbox.option({
      'maxWidth': 1024,
      'maxHeight': 768
    })
</script>
{% endblock %}


