{% extends 'template.html' %}

{% block title %}
    <title>Secure-PI   |    Settings</title>
{% endblock %}

{% block body_content %}
      <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">System information</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-striped table-bordered dt-responsive nowrap">
                                        <tbody>
                                        <tr>
                                            <th scope="row">Public ip:</th>
                                            <td>{{ config["NETWORK"]['public_ip'] }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">IPv4 address:</th>
                                            <td>{{ config["NETWORK"]['IPv4_address'] }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Hostname:</th>
                                            <td>{{ config["NETWORK"]['hostname'] }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Picture resolution</th>
                                            <td>
                                            <div class="form-group">
                                              <select class="form-control">
                                                <option>{{ config['SETTINGS']["picture_resolution"] }}</option>
                                                <option>option 2</option>
                                                <option>option 3</option>
                                                <option>option 4</option>
                                                <option>option 5</option>
                                              </select>
                                            </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Brightness:</th>
                                            <td><input type="text" class="form-control" value="{{ config['SETTINGS']['brightness'] }}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Contrast:</th>
                                            <td><input type="text" class="form-control" value="{{ config['SETTINGS']['contrast'] }}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Saturation:</th>
                                            <td><input type="text" class="form-control" value="{{ config['SETTINGS']['saturation'] }}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">How often to take pictures (in seconds):</th>
                                            <td><input type="text" class="form-control" value="{{ config['SETTINGS']["how_often_to_take_pictures"] }}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">DHCP Notifications:</th>
                                            <td>
                                                <select class="form-control">
                                                <option>{{ config['SETTINGS']["DHCP_notifications"] }}</option>
                                                <option>option 2</option>
                                                <option>option 3</option>
                                                <option>option 4</option>
                                                <option>option 5</option>
                                              </select></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Border color:</th>
                                            <td><input type="text" class="form-control" value="{{ config['SETTINGS']["border_color"] }}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Store location:</th>
                                            <td>{{ config['SETTINGS']['store_location'] }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <a href="#">
                                <button class="btn btn-danger btn-block">UPDATE</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>





{% endblock %}