{% extends 'template.html' %}

{% block title %}
    <title>Secure-PI   |    SMTP</title>
{% endblock %}

{% block body_content %}
  <!-- Custom Tabs -->
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab_1" data-toggle="tab"><h4>Server settings</h4></a></li>
      <li><a href="#tab_2" data-toggle="tab"><h4>Notification settings</h4></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_1">

        {% for error in form.server.errors %}
            {% if error == 'Invalid account, be sure that you have less secure app access turned on or try with a gmail account' %}
                <p class="text-red">{{ error }}</p>
                <a href='https://myaccount.google.com/lesssecureapps'>Click here to check</a>
            {% else: %}
                <p class="text-red">{{ error }}</p>
            {% endif %}
        {% endfor %}

        {% for error in form2.email_update.errors %}
            <p class="text-red">{{ error }}</p>
        {% endfor %}

            <form action="/smtp/" method="post">
                {{ form.csrf_token }}
              <div class="box-body">
                <div class="form-group">
                  <h4>Server: </h4>
                    {{ form.server(class='form-control', value=config['server'] ) }}
                </div>
                <div class="form-group">
                  <h4>Email</h4>
                    {{ form.email(class='form-control', value=config['username'] ) }}
                </div>
                  <div class="form-group">
                  <h4>Password</h4>
                      {{ form.password(class='form-control', type='password', value=config['password'] ) }}
                </div>
                  <div class="form-group">
                  <h4>Port</h4>
                      {{ form.port(class='form-control', value=config['port'] ) }}
                </div>
              </div>


              <!-- /.box-body -->
              <div class="box-footer">
                <input type="submit" class="btn btn-block btn-danger" id="form-submit" name="form-submit" value="Test and Update">
              </div>
            </form>
      </div>
      <!-- /.tab-pane -->
      <div class="tab-pane" id="tab_2">

          <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>ID</th>
                  <th>EMAIL</th>
                  <th>NOTIFICATIONS</th>
                    <th>ACTIONS</th>
                </tr>
                {% for foo in query %}
                    <tr>
                      <td>{{ foo.id }}</td>
                      <td>{{ foo.email }}</td>
{#                        <td> {{ foo.notification }}</td>#}
                        {% if foo.notifications == False %}
                            <td><span class="label label-danger">OFF</span></td>
                        {% endif %}
                        {% if foo.notifications == True %}
                            <td><span class="label label-success">ON</span></td>
                        {% endif %}
                        <td>
                            <a href="/change_notification_status/{{ foo.id }}">
                                <button class="btn btn-sm btn-default">turn off notifications</button>
                            </a>
                            <a href="#" data-toggle="modal" data-target="#{{ foo.id }}">
                                <button class="btn btn-sm btn-default" >update</button>
                            </a>
                                <div class="modal fade" id="{{ foo.id }}">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Update the email address</h4>
                                      </div>
                                        <form action="/smtp/" method="post">
                                            {{ form.csrf_token }}
                                          <div class="modal-body">
                                              <div class="form-group">
                                                  {{ form2.email_update(class='form-control', value=foo.email ) }}
                                                  {{ form2.id(type='hidden', value=foo.id) }}
                                              </div>
                                          </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                                                <input type="submit" class="btn btn-danger" id="form2-submit" name="form2-submit" value="Update">
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.modal-content -->
                                  </div>
                                  <!-- /.modal-dialog -->
                                </div>
                                <!-- /.modal -->
                            <a href="/delete_email/{{ foo.id }}">
                                <button class="btn btn-sm btn-default">delete</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
         <a href="#" data-toggle="modal" data-target="#new_email_modal" class="btn btn-default">Add new email address</a>
          <div class="modal fade" id="new_email_modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add a new email address</h4>
              </div>
                <form action="/smtp/" method="post">
                    {{ form.csrf_token }}
                  <div class="modal-body">
                      <div class="form-group">
                          {{ form3.email(class='form-control', placeholder='Email address') }}
                      </div>
                  </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-danger" id="form3-submit" name="form3-submit" value="INSERT">
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
      </div>
    </div>
    <!-- /.tab-content -->
  </div>
  <!-- nav-tabs-custom -->

{% endblock %}

