{% extends 'template.html' %}

{% block title %}
    <title>Secure-PI   |    SMTP</title>
{% endblock %}

{% block script_or_link %}
<script src="{{url_for('static', filename='js/jquery/dist/jquery.min.js')}}"></script>
{% endblock %}

{% block body_content %}
  <!-- Custom Tabs -->
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="active"><a href="{{url_for('smtp')}}" ><h4>SMTP Server</h4></a></li>
      <li><a href="{{url_for('accounts')}}"><h4>Accounts</h4></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_1">

        {% for error in form.server.errors %}
            {% if error == 'Invalid account, be sure that you have less secure app access turned on or try with a gmail account' %}
                <p class="text-red">{{ error }}</p>
                <a href='https://myaccount.google.com/lesssecureapps'>Click here to check</a>
            {% else: %}
                <p class="text-red">{{ error }}</p>
            {% endif %}
        {% endfor %}

        {% for error in form2.email_update.errors %}
            <p class="text-red">{{ error }}</p>
        {% endfor %}

            <form action="/settings/smtp/" method="post">
                {{ form.csrf_token }}
              <div class="box-body">
                <div class="form-group">
                  <h4>Server: </h4>
                    {{ form.server(class='form-control', value=config['server'] ) }}
                </div>
                <div class="form-group">
                  <h4>Email</h4>
                    {{ form.email(class='form-control', value=config['username'] ) }}
                </div>
                  <div class="form-group">
                  <h4>Password</h4>
                      {{ form.password(class='form-control', type='password', value=config['password'] ) }}
                </div>
                  <div class="form-group">
                  <h4>Port</h4>
                      {{ form.port(class='form-control', value=config['port'] ) }}
                </div>
              </div>


              <!-- /.box-body -->
              <div class="box-footer">
                <input type="submit" class="btn btn-block btn-danger" id="form-submit" name="form-submit" value="Test and Update">
              </div>
            </form>
      </div>

    <!-- /.tab-content -->
  </div>
  </div>
  <!-- nav-tabs-custom -->

{% endblock %}

