{% extends 'template.html' %}

{% block title %}
    <title>Secure-PI   |    Dashboard</title>
{% endblock %}

{% block body_content %}
  <!-- Custom Tabs -->
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab_1" data-toggle="tab"><h4>Server settings</h4></a></li>
      <li><a href="#tab_2" data-toggle="tab"><h4>Notification settings</h4></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_1">

        {% for error in form.server.errors %}
{#            <p class="text-red">{{ error }}</p>#}
            {% if error == 'Invalid account, be sure that you have less secure app access turned on or try with a gmail account' %}
                <p class="text-red">{{ error }}</p>
                <a href='https://myaccount.google.com/lesssecureapps'>Click here to check</a>
            {% else: %}
                <p class="text-red">{{ error }}</p>
            {% endif %}
        {% endfor %}


            <form action="/smtp/" method="post">
                {{ form.csrf_token }}
              <div class="box-body">
                <div class="form-group">
                  <h4>Server: </h4>
                    {{ form.server(class='form-control', value=config['server'] ) }}
                </div>
                <div class="form-group">
                  <h4>Email</h4>
                    {{ form.email(class='form-control', value=config['username'] ) }}
                </div>
                  <div class="form-group">
                  <h4>Password</h4>
                      {{ form.password(class='form-control', type='password', value=config['password'] ) }}
                </div>
                  <div class="form-group">
                  <h4>Port</h4>
                      {{ form.port(class='form-control', value=config['port'] ) }}
                </div>
              </div>

              <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-danger btn-block">Test & Update</button>
              </div>
            </form>
      </div>
      <!-- /.tab-pane -->
      <div class="tab-pane" id="tab_2">

          <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>ID</th>
                  <th>EMAIL</th>
                  <th>NOTIFICATIONS</th>
                    <th>ACTIONS</th>
                </tr>
                {% for foo in query %}
                    <tr>
                      <td>{{ foo.id }}</td>
                      <td>{{ foo.email }}</td>
{#                        <td> {{ foo.notification }}</td>#}
                        {% if foo.notifications == False %}
                            <td><span class="label label-danger">OFF</span></td>
                            <td>
                                <a href="/change_notification_status/{{ foo.id }}">
                                    <button class="btn btn-sm btn-default">turn off notifications</button>
                                </a>
                                <a href="">
                                    <button class="btn btn-sm btn-default">update</button>
                                </a>
                                <a href="/delete_email/{{ foo.id }}">
                                    <button class="btn btn-sm btn-default">delete</button>
                                </a>
                            </td>
                        {% endif %}
                        {% if foo.notifications == True %}
                            <td><span class="label label-success">ON</span></td>
                            <td>
                                <a href="/change_notification_status/{{ foo.id }}">
                                    <button class="btn btn-sm btn-default">turn off notifications</button>
                                </a>
                                <a href="" data-toggle="modal" data-target="#modal-default">
                                    <button class="btn btn-sm btn-default" >update</button>
                                </a>
                                    <div class="modal fade" id="modal-default">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">Update the email address</h4>
                                          </div>
                                            <form action="/smtp/" method="post">
                                              <div class="modal-body">
                                                  <div class="form-group">
                                                      {{ form2.email(class='form-control', value=foo.email ) }}
                                                  </div>
                                              </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-danger">Save changes</button>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- /.modal-content -->
                                      </div>
                                      <!-- /.modal-dialog -->
                                    </div>
                                    <!-- /.modal -->
                                <a href="/delete_email/{{ foo.id }}">
                                    <button class="btn btn-sm btn-default">delete</button>
                                </a>
                            </td>
                        {% endif %}

                    </tr>
                {% endfor %}

              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      </div>
    </div>
    <!-- /.tab-content -->
  </div>
  <!-- nav-tabs-custom -->

{% endblock %}

