.videoplayer{
  position: relative;
}

.videoplayer:hover {
	
}

.videoplayer button{
	display: none;
}

.videoplayer:hover button{
	display: inline-block;
}

.videoplayer:hover .overlay {
  opacity: 1;
}

.overlay{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-right: 2rem;
}