.videoplayer{
  position: relative;
}

.videoplayer:hover {
    opacity: 0.5;
}

.videoplayer button{
	display: none;
}

.videoplayer:hover button{
	display: inline-block;
}

.videoplayer:hover .overlay {
  opacity: 1;
}

.overlay{
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  text-align: right;
  padding-right: 202px;
}